#footer
	.section
		.span-14.left
			.address
				%span.name
					%a{href: "http://www.colorado.edu/ibs/"}Institue of Behavioral Science
				%br
				1440 15th Street, Boulder, CO 80302
				%br
				303-492-8147
				%br
				Fax: 303-492-2151
		.span-15.right.details
			%p
				%a{href:"http://www.colorado.edu/ibs/"}Institue of Behavioral Science (IBS)
				%br
				%a{href:"http://www.colorado.edu/ibs/contact.html"}Contact IBS
				%br
				%a{href:"http://www.colorado.edu/ibs/intranet/"}IBS Intranet
		%br.clear
	.section.section-sub
		%p
			%a.legal{href:"http://www.colorado.edu/about/legal.html"}Terms of Use
			%br
			%a.legal{href:"http://www.colorado.edu/privacy/"}Privacy Policy
		%p
			%a{href:"http://www.colorado.edu/"}University of Colorado Boulder
			%br  &#xa9; The Regents of the University of Colorado