-fill_color || "#000000"

%svg{:height => "98", :preserveAspectRatio => "xMidYMid meet", :version => "1.0", :width => "73", :xmlns => "http://www.w3.org/2000/svg", class: "jtg_logo"}
  %g{fill: "#{fill_color}", stroke: "none", transform: "scale(0.2)"}
    %path{d: "M 29.7175,484.92124 C 20.55503,482.73269 12.64964,476.53154 7.93401,467.83383 L 4.5,461.5 4.23295,350.75 3.9659,240 27.98295,240 52,240 l 0,99.5 0,99.5 51.5,0 51.5,0 0,-196 L 155,47 77.5,47 0,47 0,23.5 0,0 l 181,0 181,0 0,23.5 0,23.5 -80,0 -80,0 0,196 0,196 53,0 53,0 0,-78 0,-78 -26,0 -26,0 0,-21.5 0,-21.5 49.51705,0 49.51705,0 -0.26705,110.75 -0.26705,110.75 -3.43401,6.33383 c -3.78578,6.98266 -9.14087,11.93606 -16.64565,15.39705 L 329.5,485.5 l -73,0 c -40.15,0 -74.125,-0.0557 -75.5,-0.12378 -1.375,-0.0681 -35.125,0.005 -75,0.16237 -40.84607,0.16121 -74.15146,-0.10833 -76.2825,-0.61735 z"}



/ <?xml version="1.0" encoding="UTF-8" standalone="no"?>
/ <!-- Created with Inkscape (http://www.inkscape.org/) -->

/ <svg
/    xmlns:dc="http://purl.org/dc/elements/1.1/"
/    xmlns:cc="http://creativecommons.org/ns#"
/    xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
/    xmlns:svg="http://www.w3.org/2000/svg"
/    xmlns="http://www.w3.org/2000/svg"
/    xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
/    xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
/    width="744.09448819"
/    height="1052.3622047"
/    id="svg5315"
/    version="1.1"
/    inkscape:version="0.48.5 r10040"
/    sodipodi:docname="New document 8">
/   <defs
/      id="defs5317" />
/   <sodipodi:namedview
/      id="base"
/      pagecolor="#ffffff"
/      bordercolor="#666666"
/      borderopacity="1.0"
/      inkscape:pageopacity="0.0"
/      inkscape:pageshadow="2"
/      inkscape:zoom="0.35"
/      inkscape:cx="375"
/      inkscape:cy="520"
/      inkscape:document-units="px"
/      inkscape:current-layer="layer1"
/      showgrid="false"
/      inkscape:window-width="1170"
/      inkscape:window-height="853"
/      inkscape:window-x="25"
/      inkscape:window-y="25"
/      inkscape:window-maximized="0" />
/   <metadata
/      id="metadata5320">
/     <rdf:RDF>
/       <cc:Work
/          rdf:about="">
/         <dc:format>image/svg+xml</dc:format>
/         <dc:type
/            rdf:resource="http://purl.org/dc/dcmitype/StillImage" />
/         <dc:title></dc:title>
/       </cc:Work>
/     </rdf:RDF>
/   </metadata>
/   <g
/     <path
/        style="fill:#000000;fill-opacity:1"
/        d="m 223.7175,774.49083 c -9.16247,-2.18855 -17.06786,-8.3897 -21.78349,-17.08741 l -3.43401,-6.33383 -0.26705,-110.75 -0.26705,-110.75 24.01705,0 24.01705,0 0,99.5 0,99.5 51.5,0 51.5,0 0,-196 0,-196 -77.5,0 -77.5,0 0,-23.5 0,-23.5 181,0 181,0 0,23.5 0,23.5 -80,0 -80,0 0,196 0,196 53,0 53,0 0,-78 0,-78 -26,0 -26,0 0,-21.5 0,-21.5 49.51705,0 49.51705,0 -0.26705,110.75 -0.26705,110.75 -3.43401,6.33383 c -3.78578,6.98266 -9.14087,11.93606 -16.64565,15.39705 l -4.92034,2.26912 -73,0 c -40.15,0 -74.125,-0.0557 -75.5,-0.12378 -1.375,-0.0681 -35.125,0.005 -75,0.16237 -40.84607,0.16121 -74.15146,-0.10833 -76.2825,-0.61735 z M 375,772.8136 c 2.475,0.0818 36.45,0.1728 75.5,0.20232 l 71,0.0537 4.92034,-2.26912 c 7.50478,-3.46099 12.85987,-8.41439 16.64565,-15.39705 l 3.43401,-6.33386 0.26734,-108.75 0.26735,-108.75 -47.51735,0 -47.51734,0 0,19.5 0,19.5 26,0 26,0 0,80 0,80 -55,0 -55,0 0,-198 0,-198 80,0 80,0 0,-21.5 0,-21.5 -179,0 -179,0 0,21.5 0,21.5 77.5,0 77.5,0 0,198 0,198 -53.5,0 -53.5,0 0,-99.5 0,-99.5 -22.01734,0 -22.01735,0 0.26735,108.75 0.26734,108.75 3.43401,6.33383 c 4.7155,8.69749 12.62018,14.89819 21.78349,17.08774 2.1451,0.51256 34.30115,0.7458 74.2825,0.5388 38.775,-0.20075 72.525,-0.29812 75,-0.21636 z"
/        id="path5298"
/        inkscape:connector-curvature="0" />
/   </g>
/ </svg>
