.itsme
	- if admin?
		= current_user.email
		%br
	- if user_signed_in?
		Hello Jeff,
		%br
		= link_to "Do you want to sign out", destroy_user_session_path, method: :delete


/ .user_nav
/ 	- if user_signed_in?
/ 		Signed in as
/ 		= succeed '.  Not you?' do
/ 			= current_user.email
/ 		= link_to "Sign out", destroy_user_session_path, method: :delete
/ 	- else
/ 		= link_to "Sign up", new_user_registration_path
/ 		or
/ 		= link_to "Sign in", user_session_path